@media (max-width: 767.98px) {

.drop{
    display: none;
}
.menu{
    display: none;
}
nav .container .access{
    display: none;
}
nav .container .logo{
    width: 100%;
    padding: 10px 0;
top: 0;

}

/* Mobile menu section start */
.mobile_menu{
    display: block;
    font-size: 35px;
    cursor: pointer;
    padding: 10px;
    position: absolute;
    top: 0;          
    right: 15px;
}
/* Mobile menu section end */

/* Hero section start */
#hero .image{
    width: 100%;
   
}
#hero .image{
    text-align: left;
}

#hero .image img{
    width: 100%;
    height: auto;
}

#hero .content{
    width: 100%;
}

#hero {
    padding: 44px 0;
}

#hero .content h2{
    font-size: 40px;
}

#hero{
    padding: 20px;
}

#hero .slider{
    display: none;
}




}
/* Hero section End */
